*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #ffff;
    display: flex;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}


.jumbotron{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.team{
    height: 50px;
    background-color: pink;
}


.bk-lightblu{
    background-color: lightblue;
}


.col-left, .col-right{
    width: 50%;
    display: flex;
    align-items: center;
}

.col-right{
    justify-content: flex-end;
}



.col-30{
    width: 30%;
    background-color: blue;
    height: 100px;
    border: 1px solid black;
}

.col-40{
    width: 40%;
    background-color: orange;
    border: 1px solid black;
    height: 300px;
}

.col-50{
    width: 50%;
    background-color: green;
    border: 1px solid black;
    height: 150px;
}

.col-60{
    width: 60%;
    background-color: orange;
    border: 1px solid black;
    height: 300px;
}

.col-70{
    width: 70%;
    background-color: orange;
    border: 1px solid black;
    height: 100px;
}

.col-100{
    width: 100%;
    background-color: orange;
    border: 1px solid black;
    height: 100px;
}

.col-100-3{
    width: calc(100%/3);
    background-color: yellow;
    height: 300px;
    border: solid 1px black;
}

.col-100-5{
    width: calc(100%/5);
    background-color: rgb(225, 0, 255);
    height: 300px;
    border: solid 1px black;
}

.button{
    padding: 10px;
    border: none;
}

.button.white{
    background-color: #ffff;
}

.button.blue{
    background-color:#0061FF;
    color: #ffff;
}
/* utility */

.space-between{
    justify-content: space-between;
}

.padding-lr-20px{
    padding: 0px 20px;
}

.margin-r-20px{
    margin-right: 20px;
}
/* header */


.header-list{
    list-style: none;
    display: flex;
}


/* main */

