*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: red;
    display: flex;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}


.jumbotron{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.team{
    height: 50px;
    background-color: pink;
}

.col-left, .col-right{
    width: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.col-right{
    justify-content: flex-end;
}



.col-30{
    width: 30%;
    background-color: blue;
    height: 100px;
    border: 1px solid black;
}

.col-40{
    width: 40%;
    background-color: orange;
    border: 1px solid black;
    height: 300px;
}

.col-50{
    width: 50%;
    background-color: green;
    border: 1px solid black;
    height: 150px;
}

.col-60{
    width: 60%;
    background-color: orange;
    border: 1px solid black;
    height: 300px;
}

.col-70{
    width: 70%;
    background-color: orange;
    border: 1px solid black;
    height: 100px;
}

.col-100{
    width: 100%;
    background-color: orange;
    border: 1px solid black;
    height: 100px;
}

.col-100-3{
    width: calc(100%/3);
    background-color: yellow;
    height: 300px;
    border: solid 1px black;

}

/* utility */

.space-between{
    justify-content: space-between;
}


/* header */

.header-list{
    list-style: none;
    display: flex;
}



/* main */

