*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 70px;
    background-color: #ffff;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

.container-lg{
    width: 65%;
    margin: 0 auto;
}

.container-sm{
    width: 55%;
    margin: 0 auto;
}

.container-xsm{
    width: 80%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}


.jumbotron{
    background-color:#B4D0E7;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.team{
    height: 50px;
    background-color: pink;
}


.bk-lightblu{
    background-color: lightblue;
}


.col-left, .col-right{
    width: 50%;
    display: flex;
    align-items: center;
}

.col-right{
    justify-content: flex-end;
}

.col-plane-abbonament{
    width: 30%;
    background-color: #ffff;
    border: 0.5px solid lightgrey;
    padding-bottom: 30px;
}

.col-30{
    width: 30%;
    background-color: blue;
    height: 100px;
    border: 1px solid black;
}

.col-inizia-prova{
    width: 30%;
    position: relative;
}

.col-jumbo-img{
    width: 70%;
}

.col-50{
    width: 50%;
    background-color: green;
    border: 1px solid black;
    height: 150px;
}

.col-70{
    width: 70%;
    background-color: orange;
    border: 1px solid black;
    height: 100px;
}

.col-100{
    width: 100%;
}

.col-100-3{
    width: calc(100%/3);
    background-color: yellow;
    height: 300px;
    border: solid 1px black;
}

.col-100-5{
    width: calc(100%/5);
    background-color: rgb(225, 0, 255);
    height: 300px;
    border: solid 1px black;
}

.button{
    padding: 10px 20px;
    border: none;
}

.button.white{
    background-color: #ffff;
}

.button.blue{
    background-color:#0061FF;
    color: #ffff;
}

ul{
    list-style: none;
}

/* utility */

.space-between{
    justify-content: space-between;
}

.padding-top-40px{
    padding-top: 40px;
}

.padding-lr-20px{
    padding: 0px 20px;
}

.margin-r-20px{
    margin-right: 20px;
}

.padding-l-10px{
    padding-left: 10px;
}

.margin-l-50px{
    margin-left: 50px;
}

.margin-top-40px{
    margin-top: 40px;
}

.margin-tb-20px{
    margin: 20px 0px;
}

.color-blue{
    color: #0061FF;
}

/* header */


.header-list{
    display: flex;
}


/* main */

/* jumbotron */

h1{
    font-size: 100px;
}

.jumbo{
    object-fit: cover;
    width: 100%;
}

.col-inizia-prova p{
    font-size: 20px;
}

.fa-arrow-down{
    position: absolute;
    bottom: 15px;
}

/* imput*/

.imput-radio{
    margin-top: 150px;
    margin-bottom: 50px;
}

.imput-radio h2{
    font-size: 50px;
    padding: 40px 0px;
}

/* piani-tariffari */

.text-center{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid lightgrey;
}

.plane{
    padding-top: 40px;
    line-height: 2;
}

.plane h3{
    font-size: 25px;
}

.offerte li{
    display: flex;
    padding: 10px 0px;
}

.button.blue.big{
    width: 100%;
    margin: 40px 0px;
}

.line-grey{
    width: 50px;
    border: solid 0.5px lightgrey;
    margin: 40px 0px;
}
